<!DOCTYPE HTML>
<html>
	<title>BookWorm by BugFree</title>
	<body>
		<h4>Welcome to BookWorm</h4>
		<label for="username">Username:</label>
		<input name="username" id="username" type="text" placeholder="Type username here..."/>
		<label for="password">Password:</label>
		<input name="password" id="password" type="password" placeholder="Type password here..."/>
		<label for="bookid">Book ID:</label>
		<input name="bookid" id="bookid" type="text" placeholder="1234567890"/>
	</body>
</html>